#board td {
    width: 15px;
    height: 15px;
    border: 1px solid gray;
}

#board {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}

body {
    background-color: gray;
}

.top-buffer {
    margin-top: 20px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}